.container {
  display: block;
  position: relative;
  padding: 2px;
  padding-left: 24px;
  margin-bottom: 6px;

  cursor: pointer;
  font-size: 14px;
  user-select: none;
  border-radius: 4px;
}

.container:hover {
  background-color: #f6f5f4;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  display: grid;
  top: 4px;
  left: 4px;
  height: 16px;
  width: 16px;

  border: 2px solid var(--primary-color);
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

.checkmark svg {
  margin: auto;
  color: white;
  stroke-width: 4px;
}

.checkmark svg.show polyline {
  stroke-dasharray: 22;
  animation: drawIn 0.2s ease-in-out forwards;
}

@keyframes drawIn {
  from {
    stroke-dashoffset: -22;
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.checkmark svg.hidden polyline {
  stroke-dasharray: 22;
  animation: drawOut 0.2s ease-in-out forwards;
}

@keyframes drawOut {
  from {
    stroke-dashoffset: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
    stroke-dashoffset: 22;
  }
}

.container:hover input ~ .checkmark {
  background-color: rgba(150, 150, 150, 0.1);
}

.container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.container input:checked ~ .text {
  color: var(--text-dark-faded);
}

.contextMenu {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 4px;
  left: 50%;
  padding: 8px;
  background-color: var(--text-light);
  color: var(--text-dark);
  transform: translate(-50%, 0);
}

.contextMenu div {
  padding: 4px;
  border-radius: 2px;
}

.contextMenu div:hover {
  background-color: #f6f5f4;
}

.disabled {
  color: gray;
}

.disabled:hover {
  background: none !important;
}
