:root {
  --primary-color: #1fb08d;
  --text-light: white;
  --text-dark: black;
  --text-dark-faded: rgb(90, 90, 90);
}

html,
body {
  color: var(--text-dark);
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
